.side-menu {
    flex: 1; /* aside가 전체 너비의 1배 차지 */
    background-color: #fff;
    padding: 20px;
    position: sticky;
    top: 20px; /* 스크롤 시 고정 위치 */
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profile-image, .recommend-image {
    width: 40px ;
    height: 40px ;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover; /* 이미지를 영역 안에 맞춤 */
    display: block;
    max-width: 100%; /* 부모 크기를 초과하지 않도록 */
    max-height: 100%; /* 부모 크기를 초과하지 않도록 */
}


.user-details {
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    font-size: 14px;
}

.user-info {
    font-size: 12px;
    color: #8e8e8e;
}

.switch-button {
    background: none;
    border: none;
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
}
.follow-button{
    background: none;
    border: none;
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
}
.recommend-section {
    margin-top: 20px;
}

.recommend-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-links {
    margin-top: 20px;
    font-size: 12px;
    color: #8e8e8e;
    line-height: 1.5;
}

.footer-links a {
    color: #8e8e8e;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
